// -*-css-*-
// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > div > div { border-right-width: 0px;}
div.entry-content { 
  /* background: #fff; */
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

article header {
  padding-left: 2em;
  margin-bottom: 1ex;
}

#content div.pagination {
 //   background: $foo;
 // foo: bar;
}

/* This is a bit of a hack for now, but works for the bottom of
   "pages".  I should do this properly and have it done through footer
   includes. */
hr {
    margin-top: 3em;
    color: black;
    background-color: black;
    height: 1px;
    border: 0;
}